*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --color-primary: #6BAED6;
    --color-secondary: #FFFF;

    --background: #fafafa;
}

html{
    font-family: "Inter", serif;
    font-weight: 500;
}
h1{
    font-family: "Poppins", serif;
}